[submodule "lib/choc"]
	path = lib/choc
	url = https://github.com/Tracktion/choc.git
[submodule "lib/concurrentqueue"]
	path = lib/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "lib/cmajor"]
	path = lib/cmajor
	url = https://github.com/cmajor-lang/cmajor.git
[submodule "lib/sigslot"]
	path = lib/sigslot
	url = https://github.com/palacaze/sigslot.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
