# Build artifacts
*.o
*.obj
*.exe
*.out
*.dll
*.so
*.dylib
*.a
*.lib
*.gch
*.pch
*.d
############################################################
# vcpkg - Start
############################################################

.vscode/
*.code-workspace
/buildtrees/
/build*/
/downloads/
/installed*/
/vcpkg_installed*/
/packages/
/scripts/buildsystems/tmp/
#ignore custom triplets
/triplets/*
#add vcpkg-designed triplets back in
!/triplets/arm-uwp.cmake
!/triplets/arm64-windows.cmake
!/triplets/x64-linux.cmake
!/triplets/x64-osx.cmake
!/triplets/x64-uwp.cmake
!/triplets/x64-windows-static.cmake
!/triplets/x64-windows.cmake
!/triplets/x86-windows.cmake

!/triplets/community
!/triplets/community/**

*.exe
*.zip

############################################################
# vcpkg - End
############################################################

# CMake build directories
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CTestTestfile.cmake

# Visual Studio files
.vs/
*.VC.opendb
*.VC.db
*.VC.VC.opendb
*.VC.VC.db
*.suo
*.user
*.ncb
*.aps
*.bsc
*.sbr
*.tlog
ipch/
Debug/
Release/
x64/
Win32/

# CLion files
.idea/
cmake-build-*/

# Eclipse files
.project
.cproject
.settings/

# macOS specific files
.DS_Store

# Other common temporary files
*~
*.log
*.tmp

.cache/